/**
 * Base Styles
 */
html{
	font-family:"gotham-light";
	font-size: 14px;
}

h1,h2,h3,h4,h5,h6,strong,b{
	font-family:"gotham-book";
	margin:0; padding:0;
}

input[type="text"]{
	padding:10px;
	border-radius:6px;
	border:1px solid #CCC;
	box-shadow:none;
	color:#CCC;
	text-transform:uppercase;
	outline:none !important;
	font-size:20px;
	font-family:"gotham-light";
	text-align:center;
	background:none;
}

::-webkit-input-placeholder {
   color:#CCC;
   font-family:"gotham-light";
}

:-moz-placeholder { /* Firefox 18- */
   color:#CCC;  
   font-family:"gotham-light";
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#CCC;  
   font-family:"gotham-light";
}

:-ms-input-placeholder {  
   color:#CCC;  
   font-family:"gotham-light";
}

.site-wrapper{
	padding:20px;

	div.logo{
		display: inline-block;
		margin:0 0 0 0;
		vertical-align: middle;
		width:352px;
		height:147px;
		float: left;

		a{
			display: block;
			width:352px;
			height: 147px;
			background-image: url( ../img/hplogo_new_lg_1x.png );
			background-repeat:no-repeat;
			background-size:352px 147px;

			@include image-2x( "../img/hplogo_new_lg_2x.png", 352px, 147px );
		}
	}

	.gear {
		position: absolute;
		left: 0;
		right: 0;
		top: 220px;
		z-index: 10;

		img {
			@include prefix(animation, rotate 3s infinite linear);
		}
	}
}

#header-container{
	position: fixed;
	top:0; left:0; z-index:2;
	width:100%;

	.header-container-inner{
		padding:20px 20px;
	}

	.main-navigation{
		display: none;

		@media( min-width:$desktop ){ display:inline-block; }

		ul{
			li{
				a{
					color: #EEE;
				}
			}
		}
	}

}

#page-container{
	padding:40px 0 80px 0;

	.background-video{
		position: fixed; z-index:-1;
		top:50%; left:50%;
	}

	.page-header-container{
		margin:0;

		.page-header-content{
			padding:0;

			@include clearfix();

			div.header-lockup{
				h2{
					line-height: 60px;
				}
			}
		}
	}

	.page-content-sections{
		@include clearfix();

		margin:0 -4px 0 -4px;

		.page-content-section{
			width: 50%;
			float: left;

			.page-content-section-inner{
				padding:4px;
			}
		}
	}

	.page-footer-container{
		position:fixed;
		bottom:0; left:0; width:100%; z-index:2;
		text-align: left;
		background-color: $navigation-grey;

		.page-footer-content{
			@include clearfix();

			padding:12px 40px;

			.page-navigation{
				width: 100%;

				ul{
					text-align: right;
					float: right;
					// width: 100%;

					li{
						a{
							background-color: #CCC;
							padding:10px 20px;
							color: #fff;
							font-size: 16px;
							font-family: 'gotham-book';

							// &:hover{
							// 	background-color: #444;								
							// }
						}

						.btn-green {
							background-color: $btn-green;
							&:hover {
								background-color: #7ca09a;
							}
						}

						.btn-black {
							background-color: #000000;
							&:hover{
								background-color: #444;								
							}
						}
					}
				}

				.register-container {
					display: inline-block;
					float: left;

					span {
						margin-right: 20px;
					}

					input[type='submit'] {
						border: none;
						border-radius: 0;
						line-height: 20px;
						color: #fff;
						padding: 10px 20px;
						background-color: $btn-green;
						outline: none;
						text-transform: none;
						font-family: 'gotham-book';
						font-size: 16px;
						border: 1px solid transparent;

						&:hover{
							background-color: #7ca09a;								
						}
					}

					input[type='text'] {
						background-color: #fff;
						border-radius: 0;
						border: 1px solid #b9b9bb;
						color: $dark-grey;
						font-size: 16px;
						text-transform: none;
						width: 350px;
						text-align: left;
					}
					::-webkit-input-placeholder {
					   color: #767676;
					   font-size: 16px;
					   text-transform: none;
					}

					:-moz-placeholder { /* Firefox 18- */
					   color: #767676; 
					   font-size: 16px; 
					   text-transform: none;
					}

					::-moz-placeholder {  /* Firefox 19+ */
					   color: #767676;
					   font-size: 16px;  
					   text-transform: none;
					}

					:-ms-input-placeholder {  
					   color: #767676; 
					   font-size: 16px; 
					   text-transform: none;
					}
				}

			}
		}
	}
}