<div id="attract" class="page-content">
	<div class="cfm-videoplayer background-video" data-video="" data-poster="img/attract_poster.jpg" data-width="960" data-height="540">
	    <div class="cfm-videoplayer-inner">
	        <div class="cfm-videoplayer-player">
	            <video class="cfm-videoplayer-mobile" width="960" height="540" controls></video>
	            <div class="cfm-videoplayer-poster"><div class="cfm-videoplayer-playbutton"></div></div>
	            <video class="cfm-videoplayer-desktop" width="960" height="540" controls></video>
	        </div>
	    </div>
	</div>
	<div class="page-footer-container">
		<div class="page-footer-content">
			<div class="page-navigation cfm-navigation">
				<ul><li class=""><a data-navigate-to="intro" href="#">START</a></li></ul>
			</div>
		</div>
	</div>
</div>