<div id="search" class="page-content">
	<div class="page-header-container">
		<div class="page-header-content">
			<div class="header-lockup">
				<div id="logo" class="logo"><a href=""></a></div>
				<h2>Search</h2>
			</div>
		</div>
	</div>
	<div class="selected-photo-container">
		<div class="selected-photo"></div>
	</div>
	<div class="search-results page-content-sections">
		<div class="cfm-project-gallery page-content-section">
			<div class="page-content-section-inner">
				<h2>Disk-Based</h2>
				<h3><span class="number-highlight">4 Millioin</span> Images</h3>
				<ul>

					<li id="p1">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p2">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p3">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p4">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="cfm-project-gallery page-content-section">
			<div class="page-content-section-inner">
				<h2>In-Memory</h2>
				<h3><span class="number-highlight">80 Millioin</span> Images</h3>
				<ul>
					<li id="p1">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p2">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p3">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p4">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="cfm-project-gallery page-content-section">
			<div class="page-content-section-inner">
				<h2>Universal Memory</h2>
				<h3><span class="number-highlight">80 Millioin</span> Images</h3>
				<ul>
					<li id="p1">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p2">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p3">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
					<li id="p4">
						<div class="project-inner">
							<a data-navigate-to=""></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="page-footer-container">
		<div class="page-footer-content">
			<div class="page-navigation cfm-navigation">
				<ul><li><a data-navigate-to="attract" href="#">CANCEL</a></li><li class=""><a data-navigate-to="wrapup" href="#">SKIP</a></li></ul>
			</div>
		</div>
	</div>
</div>