<div id="search" class="page-content">
	<div class="page-header-container">
		<div class="page-header-content">
			<div class="header-lockup">
				<div id="logo" class="logo"><a href=""></a></div>
				<h2>Search</h2>
			</div>
		</div>
	</div>
	<div class="selected-photo-container">
		<div class="selected-photo"></div>
	</div>
	<div class="search-results page-content-sections">
		<div class="cfm-project-gallery page-content-section">
			<div class="page-content-section-inner" id="slow-search">
				<h2>Disk-Based</h2>
				<h3><span class="number-highlight">4 Millioin</span> Images</h3>
				<h1><span class="time-cost"></span> ms</h1>
				<div class="gear">
					<img src="img/gear.svg">
				</div>
				<ul id="slow-list"></ul>
			</div>
		</div>
		<div class="cfm-project-gallery page-content-section">
			<div class="page-content-section-inner" id="med-search">
				<h2>In-Memory</h2>
				<h3><span class="number-highlight">80 Millioin</span> Images</h3>
				<h1><span class="time-cost"></span> ms</h1>
				<div class="gear">
					<img src="img/gear.svg">
				</div>
				<ul id="med-list"></ul>
			</div>
		</div>
		<div class="cfm-project-gallery page-content-section">
			<div class="page-content-section-inner" id="fast-search">
				<h2>Universal Memory</h2>
				<h3><span class="number-highlight">80 Millioin</span> Images</h3>
				<h1><span class="time-cost"></span> ms</h1>
				<div class="gear">
					<img src="img/gear.svg">
				</div>
				<ul id="fast-list"></ul>
			</div>
		</div>
	</div>
	<div class="page-footer-container">
		<div class="page-footer-content">
			<div class="page-navigation cfm-navigation">
				<ul><li><a data-navigate-to="attract" href="#">CANCEL</a></li><li class=""><a data-navigate-to="wrapup" href="#">SKIP</a></li></ul>
			</div>
		</div>
	</div>
</div>