<div id="thankyou" class="page-content">
	<div class="page-header-container">
		<div class="page-header-content">
			<div class="header-lockup">
				<div id="logo" class="logo"><a href=""></a></div>
				<h2>Thank You. We'll be in touch.</h2>
				<p>3 wolf moon Wes Anderson seitan, Tumblr put a bird on it readymade pickled tattooed occupy.</p>
			</div>
		</div>
	</div>
	<div class="page-footer-container">
		<div class="page-footer-content">
			<div class="page-navigation cfm-navigation">
				<ul><li><a data-navigate-to="attract" href="#">EXIT</a></li><li class=""><a data-navigate-to="intro" href="#">RESTART</a></li></ul>
			</div>
		</div>
	</div>
</div>