<div id="upload" class="page-content">
	<div class="page-header-container">
		<div class="page-header-content">
			<div class="header-lockup">
				<h2>Upload Image</h2>
			</div>
		</div>
	</div>
	<div class="page-content-sections">
		<div class="page-content-section upload-photo">
			<div class="page-content-section-inner">
				<div class="upload-photo-button-container">
					<form>
						<input type="file" name="file" />
						<input type="submit" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>