<div id="wrapup" class="page-content">
	<div class="page-header-container">
		<div class="page-header-content">
		</div>
	</div>
	<div class="cfm-videoplayer background-video" data-video="" data-poster="" data-width="960" data-height="540">
	    <div class="cfm-videoplayer-inner">
	        <div class="cfm-videoplayer-player">
	            <video class="cfm-videoplayer-mobile" width="960" height="540" controls></video>
	            <div class="cfm-videoplayer-poster"><div class="cfm-videoplayer-playbutton"></div></div>
	            <video class="cfm-videoplayer-desktop" width="960" height="540" controls></video>
	        </div>
	    </div>
	</div>
	<div class="page-footer-container">
		<div class="page-footer-content">
			<div class="page-navigation cfm-navigation">
				<ul>
					<li><a data-navigate-to="attract" href="#" class="btn-black">EXIT</a></li><li class=""><a data-navigate-to="thankyou" href="#" class="btn-green">NEXT</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>