/**
 * Search Detail Page Styles
 */

#search{
	.page-header-container{
		.page-header-content{
			
		}
	}
	.selected-photo-container{
		text-align: center;
		margin:-100px 0 40px 0;

		.selected-photo{
			width: 14%;
			padding-bottom: 14%;
			height: 0;
			background:#eee;
			margin: 0 auto;
			background-size:cover;
		}
	}
	.page-content-sections{
		padding:0 80px;

		.page-content-section{
			width: 33.333334%;

			.page-content-section-inner{
				padding:0 30px;
				text-align: center;
				position: relative;
				min-height: 300px;

				.number-highlight {
					color: $hp-blue;
					font-weight: 800;

				}

				h1 {
					background-color: transparent;
					margin: 15px 0;
					color: $hp-blue;
					font-size: 40px;
					@include prefix(transition, color 500ms);
					@include prefix(transition, background-color 1s);
					

					.time-cost {
						@include prefix(transition, color 500ms);
					}
				}



				.gear {
					position: absolute;
					left: 0;
					right: 0;
					top: 200px;
					z-index: 10;

					img {
						@include prefix(animation, rotate 3s infinite linear);
					}
				}

				ul {
					opacity: 0;
					@include prefix(transition, opacity 2s);
				}

				.result-inner {

					margin: 4px;
					width: 100%;
					padding-bottom: 100%;
					height: 0;
					background:#eee;
					margin: 0 auto;
					background-size:cover;
				}

				.visible {
					opacity: 1;
				}

				.time-done {
					background-color: $hp-blue;										
					color: #fff;
					.time-cost {
						color: #fff;						
					}
				}
			}
		}
	}
}

@-webkit-keyframes rotate {
	from {
    	-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
    	transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
