/**
 * Search Detail Page Styles
 */

#search{
	.page-header-container{
		.page-header-content{
			
		}
	}
	.selected-photo-container{
		text-align: center;
		margin:-100px 0 40px 0;

		.selected-photo{
			width: 14%;
			padding-bottom: 14%;
			height: 0;
			background:#eee;
			margin: 0 auto;
			background-size:cover;
		}
	}
	.page-content-sections{
		padding:0 80px;

		.page-content-section{
			width: 33.333334%;

			.page-content-section-inner{
				padding:0 30px;
				text-align: center;

				.number-highlight {
					color: $hp-blue;
					font-weight: 800;

				}

				.time-cost {
					color: $hp-blue;
					font-size: 40px;
				}

				.gear img {
					@include prefix(animation, rotate 3s infinite linear);
					margin-top: 100px;	
				}

				.result-inner {
					margin: 4px;
					width: 100%;
					padding-bottom: 100%;
					height: 0;
					background:#eee;
					margin: 0 auto;
					background-size:cover;
				}
			}
		}
	}
}

@-webkit-keyframes rotate {
	from {
    	-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes rotate {
	from {
    	transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
