/**
 * Thank You Page Styles
 */

#thankyou{
 	.page-header-container {
 		top: 300px;
 	}

 	.logo-sm {
		display: block;
		margin:0 0 0 -20px;
		vertical-align: middle;
		position: relative;
		width:334px;
		height:65px;
		

		a{
			position: absolute;
			left:0; top:0;
			width:100%;
			height: 100%;
			background-image: url( ../img/hplogo_new_sm_1x.png );
			background-repeat:no-repeat;
			background-size:334px 65px;

			@include image-2x( "../img/hplogo_new_sm_2x.png", 334px, 65px );
		}		
	}

	h2 {
		color: $brand-green;
		font-size: 50px;
		font-family: 'gotham-bold';
	}
}