$class-slug: cube !default;
$spacing: 14px;
$dim: 4;

@function mod($a, $b) {
	@return $a - floor($a / $b) * $b;
}
.spinner {
	position: relative;
	width: 54px;
	height: 10px;
	margin: 20px auto;
}
.cube {
	background-color: red;
	width: 10px;
	height: 10px;
	position: absolute;
	-webkit-animation: cubemove 1s infinite ease-in-out;
	animation: cubemove 1s infinite;
}
@-webkit-keyframes cubemove {
	33% { -webkit-transform:  scale(0.005) }
	66% { -webkit-transform:  scale(1) }
}
@for $i from 1 through 4 {
	.#{$class-slug}#{$i} {
		left: (mod($i,$dim)) * $spacing;
		top: floor($i / $dim) * $spacing;
		-webkit-animation-delay: (mod($i,$dim) + floor($i / $dim)) * .2s;
		animation-delay: (mod($i,$dim) + floor($i / $dim)) * .1s;
	}
}