/* ============================
    CFM Project Gallery Styles
===============================*/

div.cfm-project-gallery{
	padding:0 0 0 0;
	margin:0 0 0 0;

	ul{
 		list-style: none;
 		padding:0; margin:0;
 		
 		@include clearfix();

 		li{
 			float:left;
 			width:50%;

 			div.project-inner{
 				// padding:1px;
 				margin:0px;
 				height: 0px;
 				opacity: 0;
 				@include prefix(transition, opacity 1s);

	 			a{
	 				display: block;
	 				cursor: pointer;
	 				// padding-bottom:100%;
	 				padding-bottom: 0;
	 				// background-color: #EEE;
	 				position: relative;
	 				height:0;
	 				@include prefix(transition, opacity 1s);



	 				&:link,&:visited{
	 					color: #999;
	 					text-decoration: none;
	 				}

	 				div.project-label{
	 					position: absolute;
	 					height: 100%; width: 100%;
	 					text-align: center;

	 					&:before{
						 	content: "";
						 	display: inline-block;
						 	height: 100%;
						 	vertical-align: middle;
						 	margin: 0 -.2em 0 0;
	 					}

	 					div.project-label-inner{
	 						border-radius: 4px;
	 						background-color:#FFF;
	 						padding:20px;
		 					display: inline-block;
						  	vertical-align: middle;
		 				}
	 				}
	 			}
 			}

 			.visible {
 				height: auto !important;
 				opacity: 1 !important;

 				a {
 					padding-bottom: 100% !important;
 				}

 				&:hover {
 					opacity: 0.6 !important;	
 				}
 			}

 			.selected {
 				opacity: 0.6 !important;
 			}
 		}
 	}

 	.button {
 		color: #fff;
 		background-color: #ddd;
 		padding: 15px 25px;
 		text-decoration: none;
 		display: inline-block;
 		margin: auto;
 		text-align: center;
 		cursor: pointer;
 		margin-top: 20px;
 	}
 	.button:hover {
 		background-color: #aaa;
 	}



 }